{% extends 'base.html.twig' %}

{% block title %}master{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div style="color: transparent">
        <p style="color: transparent"> -------------------</p>
        <p style="color: transparent"> -------------------</p>
        <p style="color: transparent"> -------------------</p>

    </div>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('index') }}">Home</a></li>
            <li class="active">About</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-sm-9 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Contact us</h1>
                </header>

                <p>
                    Nous aimerions avoir de vos nouvelles. Intéressé à travailler ensemble? Remplissez le formulaire ci-dessous avec quelques informations sur votre projet et je vous reviendrai dès que possible. S’il vous plaît, accordez quelques jours pour que je réponde.
                </p>
                <br>
                <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Name">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Email">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" placeholder="Phone">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea placeholder="Type your message here..." class="form-control" rows="9"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="checkbox"><input type="checkbox"> Sign up for newsletter</label>
                        </div>
                        <div class="col-sm-6 text-right">
                            <input class="btn btn-action" type="submit" value="Send message">
                        </div>
                    </div>
                </form>

            </article>
            <!-- /Article -->

            <!-- Sidebar -->
            <aside class="col-sm-3 sidebar sidebar-right">

                <div class="widget">
                    <h4>Address</h4>
                    <address>
                        ariana soghra
                    </address>
                    <h4>Phone:</h4>
                    <address>
                        (+216) 52 696 600
                    </address>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </div>	<!-- /container -->

    <section class="container-full top-space">
        <div id="map"></div>
    </section>

{% endblock %}