{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <div style="width:50% ; margin-left: 30% ; margin-top: -40%">
    <h1>Modifier l'utilisateur</h1>
        {{ form(userForm) }}
    </div>

{% endblock %}
